.titleBar {
      background-color: black;
      color: white;
      display: block;
      font-size: 24px;
      padding-top: 10px;
      padding-left: 4%;
}

.searchInput {
  display: block;
  width: 100%;
  height: 40px;
  padding: 1.25%;
  font-size: 1.5em;
  padding-left: 4%;
}

.fas.fa-search {
  position: absolute;
  top: 15%;
  right: 1%;
  color: green;
}

.search {
  display: flex;
  position: relative;
}

.movie {
  margin-bottom: 1em;
  margin-left: 1em;
}

.movie-logo {
  margin-right: 50px;
  display: inline-block;
  width: 200px;
  height: 300px;
}

.movie button {
  margin: 5px;
  border-radius: 15px;
}